/* .horizontal-align {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 100%;
}

.horizontal-align * {
  display: inline-block;
} */


.hand-table {
  border-collapse: collapse;
  text-align: left;
  border: 3px black solid;
}
.hand-table th,td {
  border: 1px black solid;
}






